/* ----------------------------------------------
[main Stylesheet]
Project: Test Task Frontend
---------------------------------------------- */
/* ----------------------------------------------
==== Table of Components ====

* Template variables

* Core styles
    + Typography

* Layouts
    + Main
    + Header
    + Body
    + Footer

* Components
    + Buttons
    + Icons
    + Cards
    
---------------------------------------------- */
/* ---------------------------------------------- 
    ==== Template variables ==== */
/* ==== Variables ==== */
/* ----------------------------------------------
        ==== Core styles ==== */
/* ==== Typography ====  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.4px;
  color: #1652ac;
}

@media (max-width: 980px) {
  h1 {
    font-size: 48px;
    line-height: 32px;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2.42px;
  text-transform: uppercase;
  color: #1652ac;
}

@media (min-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4.42px;
  text-transform: uppercase;
  color: #020303;
}

@media (min-width: 600px) {
  h3 {
    font-size: 28px;
  }
}

p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #45494f;
}

/* ----------------------------------------------
        ==== Layouts ==== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

section#about-us {
  margin-top: 56px;
}

@media (min-width: 600px) {
  section#about-us {
    margin-top: 100px;
  }
}

section#about-us #about-us-wrapper .divider {
  width: 228px;
  height: 7px;
  background: #EDEFF3;
  margin: 25px 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 600px) {
  section#about-us #about-us-wrapper .divider {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 55px 0;
  }
}

@media (min-width: 600px) {
  section#about-us #about-us-wrapper #image-1 {
    padding: 20px 0 0 150px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

section#about-us #about-us-wrapper #about-us-heading h1 {
  font-size: 34px;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.4px;
  color: #1652AC;
}

@media (min-width: 600px) {
  section#about-us #about-us-wrapper #about-us-heading h1 {
    font-size: 48px;
    text-align: left;
  }
}

section#about-us p#about-us-content-small,
section#about-us p#about-us-content-mid {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #020303;
}

@media (min-width: 600px) {
  section#about-us #energy-efficiency {
    margin: 108px 0 67px 0;
  }
}

@media (min-width: 600px) {
  section#about-us #energy-efficiency #energy-efficiency-wrapper {
    padding: 0 4% 0 10%;
  }
}

section#about-us #energy-efficiency h2 {
  padding: 0 20px;
}

@media (min-width: 600px) {
  section#about-us #energy-efficiency h2 {
    padding: 0;
  }
}

section#about-us #energy-efficiency p {
  line-height: 32px;
  margin-bottom: 40px;
}

section#about-us #energy-efficiency img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 18px 0;
}

section#about-us #standards-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#163DA2), to(#003584));
  background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
  padding: 0 16px;
}

@media (min-width: 600px) {
  section#about-us #standards-wrapper {
    padding: 0 18%;
  }
}

section#about-us #standards-wrapper h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  letter-spacing: 2.42px;
  color: #FBFDFF;
  margin: 40px 0 18px;
}

section#about-us #standards-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #FBFDFF;
  margin-bottom: 28px;
}

section#about-us div#specialty {
  overflow: hidden;
  margin-bottom: 40px;
  padding: 0 16px;
}

@media (min-width: 600px) {
  section#about-us div#specialty {
    margin: 90px 0 112px;
    padding: 0;
  }
}

@media (min-width: 600px) {
  section#about-us div#specialty .container {
    margin: 0 60px;
  }
}

section#about-us div#specialty h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

@media (min-width: 600px) {
  section#about-us div#specialty h2 {
    text-align: left;
  }
}

section#about-us div#specialty p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@media (min-width: 600px) {
  section#about-us div#specialty p em {
    font-style: normal;
  }
}

section#about-us div#specialty p small {
  margin-bottom: 48px;
}

section#products {
  padding: 27px 0 65px;
  background: #FBFBFC;
}

@media (min-width: 600px) {
  section#products {
    padding: 68px 0 82px;
  }
}

section#products h3 {
  margin: 0 0 42px;
}

@media (min-width: 600px) {
  section#products h3 {
    margin: 0 0 42px;
  }
}

section#products h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #45494F;
}

@media (min-width: 600px) {
  section#products h5 {
    font-size: 19px;
  }
}

section#products #products-content .card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

#main-features-container {
  margin-top: 57px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

#main-features-container h3 {
  padding: 46px 0 37px;
}

@media (min-width: 600px) {
  #main-features-container h3 {
    padding: 43px 0 64px;
  }
}

div#main-features-wrapper {
  padding: 0;
}

div#main-features-wrapper div.card-body {
  padding: 0 16px 20px;
}

@media (min-width: 600px) {
  div#main-features-wrapper div.card-body #main-features-col-left {
    padding: 0 27px 0 52px;
  }
}

@media (min-width: 600px) {
  div#main-features-wrapper div.card-body #main-features-col-right {
    padding: 0 54px 0 27px;
  }
}

div#main-features-wrapper div.card-body p {
  font-size: 16px;
  margin-bottom: 55px;
  line-height: 35px;
}

@media (min-width: 600px) {
  div#main-features-wrapper div.card-body p {
    font-size: 18px;
  }
}

div#images-carousel {
  margin-top: 74px;
}

div#images-carousel div#carousel-img-box {
  height: 480px;
}

@media (min-width: 600px) {
  div#images-carousel div#carousel-img-box {
    height: 812px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

div#images-carousel #custom-carousel-indicators {
  bottom: -30px;
}

@media (min-width: 600px) {
  div#images-carousel #custom-carousel-indicators {
    margin-bottom: 0;
  }
}

div#images-carousel #custom-carousel-indicators button {
  width: 12px;
  height: 12px;
  background: #80ABFF;
  opacity: 0.35;
  border: 1px solid #0045AC;
  border-radius: 50%;
  margin: 0 14px;
}

div#images-carousel #custom-carousel-indicators .active {
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005BE4), to(rgba(0, 96, 241, 0))), #004FC7;
  background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
  border: 1px solid #BED8FF;
  border-radius: 50%;
}

div#often-viewed {
  margin-top: 62px;
}

@media (min-width: 600px) {
  div#often-viewed {
    margin-top: 80px;
  }
}

.megabutton-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#0C5CD6), to(rgba(0, 56, 140, 0))), #004FC7;
  background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
  border-style: inset;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  padding: 24px;
  color: #FAFBFE;
  text-transform: uppercase;
}

section#contact {
  margin-top: 48px;
}

section#contact .container {
  padding: 0 32px;
  margin: 0 0 8px;
}

@media (min-width: 600px) {
  section#contact {
    margin-top: 0;
    padding: 72px 0;
  }
}

section#contact h2 {
  margin: 28px 0 32px;
  font-size: 25px;
  line-height: 43px;
  letter-spacing: -0.4px;
  color: #1652AC;
  text-transform: none;
}

@media (min-width: 600px) {
  section#contact h2 {
    margin: 0;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
  }
}

section#contact p {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #45494F;
  margin-bottom: 48px;
}

@media (min-width: 600px) {
  section#contact p {
    ont-size: 16px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #464C53;
  }
}

section#contact p a {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #2E75FF;
}

section#contact .megabutton-blue {
  width: 100%;
  text-transform: none;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  section#contact .megabutton-blue {
    width: 80%;
  }
}

section#contact .megabutton-blue p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFBFE;
  margin: 0;
  padding-left: 20px;
}

@media (min-width: 600px) {
  section#contact .megabutton-blue p {
    padding-left: 3em;
  }
}

section#contact .megabutton-blue img {
  width: 100px;
  height: auto;
}

@media (min-width: 600px) {
  section#contact .megabutton-blue img {
    width: 80px;
  }
}

footer#footer {
  padding: 45px 32px 60px;
}

@media (min-width: 600px) {
  footer#footer {
    padding: 50px 0;
  }
}

footer#footer h6 {
  font-weight: bold;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #a3adba;
}

footer#footer p {
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #9eabbb;
}

footer#footer p .email-link {
  color: #2e75ff;
}

@media (min-width: 600px) {
  footer#footer #shortlinks-links #shortlinks-links-right a {
    padding-left: 100px;
  }
}

footer#footer #shortlinks-links a {
  font-size: 16px;
  line-height: 32px;
  color: #9eabbb;
  padding-bottom: 12px;
}

@media (min-width: 600px) {
  footer#footer #shortlinks-links a {
    padding: 0;
  }
}

/* ----------------------------------------------
        ==== Components ==== */
/*# sourceMappingURL=style.css.map */