/* ----------------------------------------------
[main Stylesheet]
Project: Test Task Frontend
---------------------------------------------- */
/* ----------------------------------------------
==== Table of Components ====

* Template variables

* Core styles
    + Typography

* Layouts
    + Main
    + Header
    + Body
    + Footer

* Components
    + Buttons
    + Icons
    + Cards
    
---------------------------------------------- */
/* ---------------------------------------------- 
    ==== Template variables ==== */
/* ----------------------------------------------
        ==== Core styles ==== */
/* ==== Typography ====  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.4px;
  color: #1652ac;
}

@media (max-width: 980px) {
  h1 {
    font-size: 48px;
    line-height: 32px;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.42px;
  text-transform: uppercase;
  color: #1652ac;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4.42px;
  text-transform: uppercase;
  color: #020303;
}

@media (min-width: 600px) {
  h3 {
    font-size: 28px;
  }
}

p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #45494f;
}

/* ----------------------------------------------
        ==== Layouts ==== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1445px;
  min-height: 100vh;
  margin: 0 auto;
}

#specialty {
  overflow: hidden;
}

#specialty .ic-hot-cold {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  #specialty .ic-hot-cold {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

section#products {
  padding: 27px 0 65px;
  background: #FBFBFC;
}

@media (min-width: 600px) {
  section#products {
    padding: 68px 0 82px;
  }
}

section#products h3 {
  margin: 0 0 42px;
}

@media (min-width: 600px) {
  section#products h3 {
    margin: 0 0 42px;
  }
}

section#products #products-content .card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

#main-features-container {
  margin-top: 57px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

#main-features-container h3 {
  padding: 46px 0 37px;
}

@media (min-width: 600px) {
  #main-features-container h3 {
    padding: 43px 0 64px;
  }
}

div#main-features-wrapper {
  padding: 0;
}

div#main-features-wrapper div.card-body {
  padding: 0 16px 20px;
}

@media (min-width: 600px) {
  div#main-features-wrapper div.card-body #main-features-col-left {
    padding: 0 27px 0 52px;
  }
}

@media (min-width: 600px) {
  div#main-features-wrapper div.card-body #main-features-col-right {
    padding: 0 54px 0 27px;
  }
}

div#main-features-wrapper div.card-body p {
  font-size: 18px;
  margin-bottom: 55px;
  line-height: 35.5px;
}

div#images-carousel {
  margin-top: 74px;
}

div#images-carousel div#carousel-img-box {
  height: 480px;
}

@media (min-width: 600px) {
  div#images-carousel div#carousel-img-box {
    height: 812px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

div#images-carousel #custom-carousel-indicators {
  bottom: -30px;
}

@media (min-width: 600px) {
  div#images-carousel #custom-carousel-indicators {
    margin-bottom: 0;
  }
}

div#images-carousel #custom-carousel-indicators button {
  width: 12px;
  height: 12px;
  background: #80ABFF;
  opacity: 0.35;
  border: 1px solid #0045AC;
  border-radius: 50%;
  margin: 0 14px;
}

div#images-carousel #custom-carousel-indicators .active {
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#005BE4), to(rgba(0, 96, 241, 0))), #004FC7;
  background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
  border: 1px solid #BED8FF;
  border-radius: 50%;
}

div#often-viewed {
  margin-top: 62px;
}

@media (min-width: 600px) {
  div#often-viewed {
    margin-top: 80px;
  }
}

div#often-viewed .megabutton-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#0C5CD6), to(rgba(0, 56, 140, 0))), #004FC7;
  background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
  border-style: inset;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  padding: 24px;
  color: #FAFBFE;
  text-transform: uppercase;
}

/* ----------------------------------------------
        ==== Components ==== */
/*# sourceMappingURL=style.css.map */