
#specialty {
    overflow: hidden;

    .ic-hot-cold {
        transform: scale(1.2);

        @media (max-width: 600px) {
            transform: scale(0.7);
        }
        
    }
}

// ==== PRODUCTS SECTION  ==== 
section#products {
    padding: 27px 0 65px;
    background: #FBFBFC;

    @media (min-width: 600px) {
        padding: 68px 0 82px;
    }

    h3 {
        margin: 0 0 42px;
        @media (min-width: 600px) {
            margin: 0 0 42px;
        }
    }

    #products-content {
        .card {
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 16px;
        }
    }
}


// ==== MAIN FEATURES SECTION ====
#main-features-container {
    margin-top: 57px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;

    h3 {
        padding: 46px 0 37px;
        @media (min-width: 600px) {
            padding: 43px 0 64px;
        }
    }
}

div#main-features-wrapper {
    padding: 0;

    div.card-body {
        padding: 0 16px 20px;

        #main-features-col-left {
            @media (min-width: 600px) {
                padding: 0 27px 0 52px;
            }
        }
        #main-features-col-right {
            @media (min-width: 600px) {
                padding: 0 54px 0 27px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 55px;
            line-height: 35.5px;
        }
    }
}

// ==== CAROUSEL OF IMAGES  ====
div#images-carousel {
    margin-top: 74px;

    div#carousel-img-box {
        height: 480px;
        @media (min-width: 600px) {
            height: 812px;
            display: flex;
            align-items: center;
        }
    }

    // #custom-carousel-control-prev {
    //     width: 126px;
    //     height: 78px;
    //     background: #FFFFFF;
    //     box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    //     border-radius: 8px;
    // }

    // #custom-carousel-control-next {
    //     width: 126px;
    //     height: 78px;
    //     background: #FFFFFF;
    //     box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    //     border-radius: 8px;
    // }

    #custom-carousel-indicators {
        bottom: -30px;
        @media (min-width: 600px) {
            margin-bottom: 0;
        }
        
        button {
            width: 12px;
            height: 12px;
            background: #80ABFF;
            opacity: 0.35;
            border: 1px solid #0045AC;
            border-radius: 50%;
            margin: 0 14px;
        }

        .active {
            width: 12px;
            height: 12px;
            background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
            border: 1px solid #BED8FF;
            border-radius: 50%;
        }
    }
}

// ====  VISITORS ALSO OFTEN LOOKED FOR ====
div#often-viewed {
    margin-top: 62px;
    @media (min-width: 600px) {
        margin-top: 80px;
    }
}

.megabutton-blue {
    background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
    border-style: inset;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
    border-radius: 12px;
    padding: 24px;
    color: #FAFBFE;
    text-transform: uppercase;
}

//  ==== CONTACT ====
section#contact {
    margin-top: 48px;
    .container {
        padding: 0 32px;
        margin: 0 0 8px;
    }
    
    @media (min-width: 600px){
        margin-top: 0;
        padding: 72px 0;
    }

    h2 {
        margin: 28px 0 32px;
        font-size: 25px;
        line-height: 43px;
        letter-spacing: -0.4px;
        color: #1652AC;
        text-transform: none;

        @media (min-width: 600px) {
            margin: 0;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }
    }

    p {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #45494F;
        margin-bottom: 48px;
        @media (min-width: 600px) {
            ont-size: 16px;
            line-height: 32px;
            letter-spacing: -0.4px;
            color: #464C53;
        }

        a {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: -0.4px;
            color: #2E75FF;
        }
    }

    .megabutton-blue {
        width: 100%;
        text-transform: none;
        padding: 18px 0;
        display: flex;
        align-items: center;
        @media (min-width: 600px) {
            width: 80%;
        }
        
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #FAFBFE;
            margin: 0;
            padding-left: 20px;
            @media (min-width: 600px) {
                padding-left: 3em;
            }
        }

        img {
            width: 100px;
            height: auto;

            @media (min-width: 600px) {
                width: 80px;
            }
        }
    }
}
