// ==== Main Page Style ====

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 16px; 
    @media (min-width: 600px) {
        margin: 0 auto;
    }
}